doctype
//[if lt IE 7]>     <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]
//[if IE 7]>        <html class="no-js lt-ie9 lt-ie8"> <![endif]
//[if IE 8]>        <html class="no-js lt-ie9"> <![endif]
//[if gt IE 8]><!
html.no-js
    //<![endif]
    head
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width, minimal-ui")
        meta(name="format-detection" content="telephone=no")
        meta(http-equiv="Expires" content="-1")
        meta(http-equiv="Cache-Control" content="no-cache")

        title= "Starter jade"

        link(rel="stylesheet" href="css/main.min.css")
        link(rel="shortcut icon" href="favicon.ico")

    body
        include ./ui/header.jade

        .layout
          h1 Hello toto ???

        script( src="js/vendors.js" )
        script( src="js/bundle.js" )